
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

/* Wrapper */

.wrapper {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

/* Nav Bar */

.navBar {
  box-shadow: 0px 2px 2px rgba(0,0,0,.2);
  position: fixed;
  max-height: 160px;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: #2589BD;
}

.logo {
  background-color: #F1F3E3;
  color: white;
  border-radius: 100%;
  display: inline-block;
  height: 120px;
  width: 120px;
  text-align: center;
  position: relative;
  margin: 20px;
}

h1 {
  font-weight: 600;
  margin: 0;
  position: absolute;
  top: 35px;
  left: 5px;
  color: #2589BD;
  font-size: 2rem;
}

#options {
  display: inline-block;
  width: 60%;
  margin: 20px 0;
  position: absolute;
  top: 20px;
  color: #F1F3E3;
}

input[type="checkbox"] {
  margin: 0 5px 0 10px;
}

#userInput {
  width: 100%;
}

#buttons {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 100px;
}

#options button,
#buttons button {
  display: block;
  width: 150px;
  margin: 20px 0;
  font-weight: 600;
}

#submit, #userInput {
  color: black;
}

.navLabel {
  margin-right: 1em;
}

.checkOpt {
  float: right;
}

/* Message Area */

.main-content {
  padding-top: 12em;
  background: #F1F3E3;
}

h2 {
  margin: .5em auto;
  font-weight: 600;
  color: #2589BD;
  width: 75%;
}

.msgArea {
  min-height: 375px;
  width: 75%;
  margin: auto;
  padding: 20px;
  border: 1px solid rgba(0,0,0,.3);
}

.message {
  background: #F1F3E3;
  padding: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
  border-radius: 3px;
  width: 100%;
}

.timeStamp {
  display: block;
}

.msgArea button {
  font-size: .8em;
}

.delete,
.edit {
  float: right;
  font-weight: 600;
}

/*========================*/
/* Leave these classes at the bottom of the cascade */
/* Large theme */

.large {
  font-size: 1.3em;
}
